################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/packages
/TelegramPartAdmin
/TelegramPartHook/bin
/TelegramPartHook/Credentials
/TelegramPartHook/obj
/TelegramPartHook.Helpers/bin
/TelegramPartHook.Helpers/obj
/TelegramPartHook.Integrations/bin
/TelegramPartHook.Integrations/obj
/TelegramPartHook.Tests/obj
/TelegramPartHook.Tests/bin
/TelegramPartHook/Properties
/TelegramPartAdmin/TelegramPartAdmin/bin
/TelegramPartAdmin/TelegramPartAdmin/obj
/TelegramPartAdmin/TelegramPartAdmin/TesteImagens*
/TelegramPartAdmin/TelegramPartAdmin/tessdata
/TelegramPartAdmin/packages
/TelegramPartAdmin/UpgradeLog*.htm
/TelegramPartHook.Domain/bin
/TelegramPartHook.Domain/obj
/TelegramPartHook.Infrastructure/bin
/TelegramPartHook.Infrastructure/obj
/TelegramPartHook/*.bmp
.vscode
/TelegramPartHook.Infrastructure/Properties
/TelegramPartHook.Tests/Properties
/TelegramPartHook.Tests/Keys.resx
/out
/TelegramPartHook.Tests/TelegramPartHook.Tests.csproj.user
/TelegramPartHook.ScenarioTests/bin
/TelegramPartHook.ScenarioTests/obj
/TelegramPartHook.Core/bin
/TelegramPartHook.Core/obj
/database.sql
/TelegramPartHook.ScenarioTests/TelegramPartHook.ComponentTests.csproj.user
/TelegramPartHook.Tests.Core/obj
/TelegramPartHook.Tests.Core/bin
/TelegramPartHook.Core/TelegramPartHook.Core.csproj.user
/TelegramPartHook.Application/obj
/TelegramPartHook.Application/bin
/TelegramPartHook.Application.UnitTests/bin
/TelegramPartHook.Application.UnitTests/obj
/.idea
*.user
/TelegramPartHook.Domain.UnitTests/obj
/TelegramPartHook.Domain.UnitTests/bin
/TelegramPartHook.ML/bin
/TelegramPartHook.ML/obj
/TelegramPartHook.ML/images
*.backup
http-client.env.json
TelegramPartAdmin/TelegramPartAdmin/GoogleInfo
TelegramPartAdmin/TelegramPartAdmin/Google.Apis.Auth.*
